<div class='container'>
	<div class='row' id='beercard'>
	<h1 id='beername' class='center' ng-model='name' ng-click='searchem()'>  {{name2}} </h1>
	<div class="col s4 center">
		<img src='http://icons.iconarchive.com/icons/flat-icons.com/flat/512/Beer-icon.png' 
		class='beericon'/>
	</div>
	<div class="col s8" id='thick'>
		<p class='descriptor' ng-model='abv'> ABV : {{abv2}} %  </p>
		<p class='descriptor' ng-model='ibu'> IBU : {{ibu2}} %  </p>
		<p class='descriptor' ng-model='type'> Beer Type : {{type2}} </p>
		<p ng-model='description'> {{description2}} </p>
	</div>
	</div>
</div>